<div class="row variablerow">
	<div class="col-md-6">
		<div class="col-md-2 col-md-offset-3">
			<h2 class="text-center">{{ values['nvar'] }}</h2>
			<p style="text-align:center;line-height:1">Number of</br>variables</br>(columns)</p>
		</div>
		<div class="col-md-2 col-md-offset-2">
			<h2 class="text-center">{{ values['n'] }}</h2>
			<p style="text-align:center;line-height:1">Number of</br>observations</br>(rows)</p>
		</div>
		<div class="col-md-4 col-md-offset-3">
			<br/>
			<div class="panel-heading" style="width: 260px">
				<p style="text-align:center;font-size:13px">More Info <button data-toggle="collapse" data-target="#stats" class="collapseButton btn btn-xs btn-secondary btn-hover-dark collapsed"></button></p>
			</div>
			<div id="stats" class="pannel-collapse list-unstyled collapse" style="width: 260px">
				<table class="stats" style="width: 260px;">
					<tbody>
						<tr>
							<th style="width: 210px;">Total size in memory</th>
							<td style="width: 50px;">{{ values['memsize'] }} </td>
						</tr>
						<tr>
							<th style="width: 210px;">Average record size in memory</th>
							<td style="width: 50px;">{{ values['recordsize'] }} </td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-2 namecol">
        <p class="h4">Variables Types</p>
        <table class="stats" style="margin-left: 1em;">
            <tbody class="variableTypesTable">
				<script>
					var data = [
						{name: "Numeric", number: {{ values['NUM'] }}}, 
						{name: "Categorical", number: {{ values['CAT'] }}}, 
						{name: "Boolean", number: {{ values['BOOL'] }}}, 
						{name: "Date", number: {{ values['DATE'] }}}, 
						{name: "Text (Unique)", number: {{ values['UNIQUE'] }}}, 
						{name: "Rejected", number: {{ values['REJECTED'] }}}, 
						{name: "Unsupported", number: {{ values['UNSUPPORTED'] }}}
					];
					var color = d3.scaleOrdinal()
						.domain(data.map(d => d.name))
						.range(d3.quantize(t => d3.interpolateSpectral(t * 0.8 + 0.1), data.length).reverse());
					var table = d3.select("tbody.variableTypesTable");
					var join = table.selectAll("tr")
						.data(data)
						.join("tr");
					join.append("svg")
						.attr("width", 13)
						.attr("height", 13)
						.append("circle")
						.attr("cy", 6.5)
						.attr("cx", 6.5)
						.attr("r", 6)
						.attr("stroke", "black")
						.attr("stroke-width", 0.5)
						.attr("fill", d => color(d.name));
					join.append("th")
						.text(d => d.name);
					join.append("td")
						.text(d => d.number);
				</script>
            </tbody>
        </table>
    </div>
	<div class="col-md-4">
		<svg class="VariableTypesChart">
			<script>
				var width = 200;
				var height = 200;
				var svg = d3.select("svg.VariableTypesChart");
				var tooltip = d3.select("body")
					.append("div")
					.style("position", "absolute")
					.style("z-index", "10")
					.style("visibility", "hidden")
					.style("background-color", "white")
					.style("border-radius", "3px")
					.style("border-style", "solid")
					.style("border-color", "black")
					.style("border-width", "thin")
					.style("padding", "2px");
				svg.attr("height", height/2 + 52).attr("width", width);
				var g = svg.append("g")
					.attr("transform", `translate(${width/2}, ${height/2 + 52})`);
				var arc = d3.arc()
					.innerRadius(50)
					.outerRadius(Math.min(width, height) / 2 - 1);
				var pie = d3.pie().sortValues(null).startAngle(-90 * (Math.PI/180)).endAngle(90 * (Math.PI/180)).value(d => d.number);
				var arcs = pie(data);
				g.selectAll("path")
					.data(arcs)
					.enter().append("path")
					.attr("fill", d => color(d.data.name))
					.attr("stroke", "white")
					.attr("d", arc)
					.on("mouseover", d => tooltip.style("visibility", "visible").text(d.data.name+": "+d.data.number))
					.on("mousemove", function(){return tooltip.style("top", (event.pageY-10)+"px").style("left",(event.pageX+10)+"px");})
					.on("mouseout", function(){return tooltip.style("visibility", "hidden");});
			</script>
		</svg>
	</div>
</div>
<div class="row variablerow">
    <div class="col-md-6" style="padding-left: 1em;">
		<p class="h4">Missing Values</p>
		
        <svg class="MissingValuesBar" width="300" height="50">
			<script>
				var svg = d3.select("svg.MissingValuesBar");
				var missing_str = "{{ values['total_missing'] }}";
				var missing = parseFloat(missing_str.substring(0, missing_str.length - 1));
				var valid = 100 - missing;
				var validBarWidth = (valid * 3) - ((valid * 3) % 1);
				var missingBarWidth = 300 - validBarWidth;
				svg.append("rect")
					.attr("x", "0")
					.attr("y", "0")
					.attr("width", validBarWidth)
					.attr("height", "25")
					.attr("fill", "rgb(126, 201, 166)");
				svg.append("text")
					.attr("x", "5")
					.attr("y", "20")
					.attr("fill", "white")
					.text(valid+"%");
				svg.append("text")
					.attr("x", "5")
					.attr("y", "40")
					.attr("fill", "rgb(126, 201, 166)")
					.text("Valid");
				svg.append("rect")
					.attr("x", validBarWidth)
					.attr("y", "0")
					.attr("width", missingBarWidth)
					.attr("height", "25")
					.attr("fill", "rgb(209, 60, 75)");
				svg.append("text")
					.attr("x", "255")
					.attr("y", "20")
					.attr("fill", "white")
					.text(missing_str);
				svg.append("text")
					.attr("x", "250")
					.attr("y", "40")
					.attr("fill", "rgb(209, 60, 75)")
					.text("Missing");
				svg.append("path")
					.attr("d", "M -0.5 -0.5 L -0.5 7 S -0.5 -0.5 7 -0.5 Z")
					.attr("stroke", "white")
					.attr("fill", "white");
				svg.append("path")
					.attr("d", "M -0.5 25.5 L -0.5 18 S -0.5 25.5 7 25.5 Z")
					.attr("stroke", "white")
					.attr("fill", "white");
				svg.append("path")
					.attr("d", "M 300.5 -0.5 L 300.5 7 S 300.5 -0.5 293 -0.5 Z")
					.attr("stroke", "white")
					.attr("fill", "white");
				svg.append("path")
					.attr("d", "M 300.5 25.5 L 300.5 18 S 300.5 25.5 293 25.5 Z")
					.attr("stroke", "white")
					.attr("fill", "white");
			</script>
		</svg>
		<p>Explore missing data? <a>Yes, open Viz</a></p>
    </div>
	<div class="col-md-6" style="padding-left: 1em;">
		<p class="h4">Breakdown of Types</p>
		<table class="stats" style="width: 100px">
			<tr>
				<th>na</th>
				<td>xx</td>
			</tr>
			<tr>
				<th>NA</th>
				<td>xx</td>
			</tr>
			<tr>
				<th>?</th>
				<td>xx</td>
			</tr>
			<tr>
				<th>Empty</th>
				<td>xx</td>
			</tr>
			<tr>
				<th>Null</th>
				<td>xx</td>
			</tr>
		</table>
	</div>
    {% if messages %}
</div>
<div class="row variablerow">
    <div class="col-md-6" style="padding-left: 1em;">
		<div class="panel-heading">
			<p class="h4">Warnings <button data-toggle="collapse" data-target="#warnings" class="collapseButton btn btn-xs btn-secondary btn-hover-dark collapsed"></button></p>
		</div>
		<ul id="warnings" class="pannel-collapse list-unstyled collapse">{{ messages }} </ul>
    </div>
    <div class="col-md-6" style="padding-left: 1em;">
        <div class="panel-heading">
			<p class="h4">Recommendations <button data-toggle="collapse" data-target="#recommendations" class="collapseButton btn btn-xs btn-secondary btn-hover-dark collapsed"></button></p>
		</div>
		<ul id="recommendations" class="pannel-collapse list-unstyled collapse">
			<li>Which are good practices for data wrangling?</li>
			<li>Based on warnings what would be the next steps?</li>
			<li>*Recommendations to be added</li>
		</ul>
    </div>
    {% endif %}
</div>