{% include '_row_header.html' %}
<div class="col-md-3">
	<svg class="MissingValuesBar{{ values['varid'] }}" width="143" height="40">
		<script>
			var svg = d3.select("svg.MissingValuesBar{{ values['varid'] }}");
			var missing_str = "{{ values['p_missing'] }}";
			var missing = parseFloat(missing_str.substring(0, missing_str.length - 1));
			var valid = parseFloat((100 - missing).toFixed(1));
			var validBarWidth = (valid * 1.43) - ((valid * 1.43) % 1);
			var missingBarWidth = 143 - validBarWidth;
			svg.append("rect")
				.attr("x", "0")
				.attr("y", "0")
				.attr("width", validBarWidth)
				.attr("height", "20")
				.attr("fill", "rgb(126, 201, 166)");
			svg.append("rect")
				.attr("x", validBarWidth)
				.attr("y", "0")
				.attr("width", missingBarWidth)
				.attr("height", "20")
				.attr("fill", "rgb(209, 60, 75)");
			svg.append("text")
				.attr("x", "5")
				.attr("y", "16")
				.attr("fill", "white")
				.text(valid+"%")
				.attr("font-size", "12px");
			svg.append("text") 
				.attr("x", "5")
				.attr("y", "35")
				.attr("fill", "rgb(126, 201, 166)")
				.text("Valid")
				.attr("font-size", "12px");
			svg.append("text")
				.attr("x", "105")
				.attr("y", "16")
				.attr("fill", "white")
				.text(missing+"%")
				.attr("font-size", "12px");
			svg.append("text")
				.attr("x", "100")
				.attr("y", "35")
				.attr("fill", "rgb(209, 60, 75)")
				.text("Missing")
				.attr("font-size", "12px");
			svg.append("path")
				.attr("d", "M -0.5 -0.5 L -0.5 3 S -0.5 -0.5 3 -0.5 Z")
				.attr("stroke", "white")
				.attr("fill", "white");
			svg.append("path")
				.attr("d", "M -0.5 20.5 L -0.5 17 S -0.5 20.5 3 20.5 Z")
				.attr("stroke", "white")
				.attr("fill", "white");
			svg.append("path")
				.attr("d", "M 143.5 -0.5 L 143.5 3 S 143.5 -0.5 140 -0.5 Z")
				.attr("stroke", "white")
				.attr("fill", "white");
			svg.append("path")
				.attr("d", "M 143.5 20.5 L 143.5 17 S 143.5 20.5 140 20.5 Z")
				.attr("stroke", "white")
				.attr("fill", "white");
		</script>
	</svg>
    <table class="stats ">
        <tr>
            <th>Distinct count</th>
            <td>{{ values['distinct_count'] }}</td>
        </tr>
        <tr>
            <th>Unique (%)</th>
            <td>{{ values['p_unique'] }}</td>
        </tr>
        <tr class="{{ row_classes['p_missing'] }}">
            <th>Missing (%)</th>
            <td>{{ values['p_missing'] }}</td>
        </tr>
        <tr class="{{ row_classes['p_missing'] }}">
            <th>Missing (n)</th>
            <td>{{ values['n_missing'] }}</td>
        </tr>
        <tr class="{{ row_classes['p_infinite'] }}">
            <th>Infinite (%)</th>
            <td>{{ values['p_infinite'] }}</td>
        </tr>
        <tr class="{{ row_classes['p_infinite'] }}">
            <th>Infinite (n)</th>
            <td>{{ values['n_infinite'] }}</td>
        </tr>
        <tr>
            <th>Mean</th>
            <td>{{ values['mean'] }}</td>
        </tr>
        <tr>
            <th>Minimum</th>
            <td>{{ values['min'] }}</td>
        </tr>
        <tr>
            <th>Maximum</th>
            <td>{{ values['max'] }}</td>
        </tr>
        <tr class="{{ row_classes['p_zeros'] }}">
            <th>Zeros (%)</th>
            <td>{{ values['p_zeros'] }}</td>
        </tr>
    </table>
</div>
<div class="col-md-6 collapse in" id="minihistogram{{ values['varid'] }}" style="text-align:right;">
	<svg class="minihistogram{{ values['varid'] }}">
		<script>
			var width = 400;
			var height = 200;
			var lWidth = 60;
			var lHeight = 30;
			var cWidth = width - lWidth;
			var cHeight = height - lHeight;
			var svg = d3.select("svg.minihistogram{{ values['varid'] }}");
			svg.attr("width", width)
				.attr("height", height);
			var data = d3.histogram()({{ values['column_values'] }});
			var bWidth = cWidth / data.length;
			var yMax = data.reduce(function(a, b){if (a.length > b.length){return a;}return b;}).length;
			
			svg.append("g")
				.selectAll("rect")
				.data(data)
				.join("rect")
				.attr("height", d => (d.length / yMax * cHeight))
				.attr("width", bWidth + 1)
				.attr("x", (d, i) => lWidth + i * bWidth)
				.attr("y", d => (cHeight - (d.length / yMax * cHeight)))
				.attr("fill", "rgb(66, 136, 181)");
			
			var x = d3.scaleLinear().range([lWidth, width - 1]);
			var y = d3.scaleLinear().range([cHeight, 0]);
			x.domain([data[0].x0, data[data.length - 1].x1]);
			y.domain([0, d3.max(data, function(d) { return d.length; })]);
			
			var xAxis = d3.axisBottom(x).ticks(6);
			var xTicks = x.ticks();
			if(xTicks[0] < -1000000 || xTicks[xTicks.length - 1] >= 1000000 || xTicks[0] + 0.001 > xTicks[xTicks.length - 1]) {
				xAxis.tickFormat(d3.format(".1e"));
			}
			svg.append("g")
				.attr("transform", "translate(0," + cHeight + ")")
				.call(xAxis);

			svg.append("text")             
				.attr("transform", "translate(" + (lWidth+cWidth/2) + " ," + (cHeight + lHeight) + ")")
				.style("text-anchor", "middle")
				.text("Value");

			var yAxis = d3.axisLeft(y);
			var yTicks = y.ticks();
			if(yTicks[yTicks.length - 1] >= 10000) {
				yAxis.tickFormat(d3.format(".1e"));
			}
			svg.append("g")
				.attr("transform", "translate("+lWidth+", 0)")
				.call(yAxis);
			
			svg.append("text")
				.attr("transform", "rotate(-90)")
				.attr("y", 0)
				.attr("x", 0 - cHeight / 2)
				.attr("dy", "1em")
				.style("text-anchor", "middle")
				.text("Frequency");
			svg.selectAll(".tick").filter(function(d){return (d3.select(this).attr("transform").match(/[0-9]+/g)[0] > width - 18) || (d3.select(this).attr("transform").match(/[0-9]+/g)[0] == 0 && d3.select(this).attr("transform").match(/[0-9]+/g)[1] < 5);}).attr("transform", "translate(-1000,-1000)");
		</script>
	</svg>
</div>
<div class="panel-heading col-md-12 text-right" style="padding:0;">
    <p style="text-align: right; font-size: 12px;">
        Show details
		<button data-toggle="collapse" data-target="#descriptives{{ values['varid'] }},#minihistogram{{ values['varid'] }}" class="collapseButton btn btn-xs btn-secondary btn-hover-dark collapsed"></button>
    </p>
</div>
<div class="pannel-collapse collapse row col-md-12" id="descriptives{{ values['varid'] }}">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#quantiles{{ values['varid'] }}"
                                                  aria-controls="quantiles{{ values['varid'] }}" role="tab"
                                                  data-toggle="tab">Statistics</a></li>
        <li role="presentation"><a href="#histogram{{ values['varid'] }}" aria-controls="histogram{{ values['varid'] }}"
                                   role="tab" data-toggle="tab">Histogram</a></li>
        <li role="presentation"><a href="#common{{ values['varid'] }}" aria-controls="common{{ values['varid'] }}"
                                   role="tab" data-toggle="tab">Common Values</a></li>
        <li role="presentation"><a href="#extreme{{ values['varid'] }}" aria-controls="extreme{{ values['varid'] }}"
                                   role="tab" data-toggle="tab">Extreme Values</a></li>

    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active row" id="quantiles{{ values['varid'] }}">
            <div class="col-md-4 col-md-offset-1">
                <p class="h4">Quantile statistics</p>
                <table class="stats indent">
                    <tr>
                        <th>Minimum</th>
                        <td>{{ values['min'] }}</td>
                    </tr>
                    <tr>
                        <th>5-th percentile</th>
                        <td>{{ values['5%'] }}</td>
                    </tr>
                    <tr>
                        <th>Q1</th>
                        <td>{{ values['25%'] }}</td>
                    </tr>
                    <tr>
                        <th>Median</th>
                        <td>{{ values['50%'] }}</td>
                    </tr>
                    <tr>
                        <th>Q3</th>
                        <td>{{ values['75%'] }}</td>
                    </tr>
                    <tr>
                        <th>95-th percentile</th>
                        <td>{{ values['95%'] }}</td>
                    </tr>
                    <tr>
                        <th>Maximum</th>
                        <td>{{ values['max'] }}</td>
                    </tr>
                    <tr>
                        <th>Range</th>
                        <td>{{ values['range'] }}</td>
                    </tr>
                    <tr>
                        <th>Interquartile range</th>
                        <td>{{ values['iqr'] }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4 col-md-offset-2">
                <p class="h4">Descriptive statistics</p>
                <table class="stats indent">
                    <tr>
                        <th>Standard deviation</th>
                        <td>{{ values['std'] }}</td>
                    </tr>
                    <tr>
                        <th>Coef of variation</th>
                        <td>{{ values['cv'] }}</td>
                    </tr>
                    <tr>
                        <th>Kurtosis</th>
                        <td>{{ values['kurtosis'] }}</td>
                    </tr>
                    <tr>
                        <th>Mean</th>
                        <td>{{ values['mean'] }}</td>
                    </tr>
                    <tr>
                        <th>MAD</th>
                        <td>{{ values['mad'] }}</td>
                    </tr>
                    <tr class="{{ row_classes['skewness'] }}">
                        <th>Skewness</th>
                        <td>{{ values['skewness'] }}</td>
                    </tr>
                    <tr>
                        <th>Sum</th>
                        <td>{{ values['sum'] }}</td>
                    </tr>
                    <tr>
                        <th>Variance</th>
                        <td>{{ values['variance'] }}</td>
                    </tr>
                    <tr>
                        <th>Memory size</th>
                        <td>{{ values['memorysize'] }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane col-md-8 col-md-offset-2" id="histogram{{ values['varid'] }}">
            <img src="{{ values['histogram'] }}"/>
        </div>
        <div role="tabpanel" class="tab-pane col-md-12" id="common{{ values['varid'] }}">
            {{ values['freqtable'] }}
        </div>
        <div role="tabpanel" class="tab-pane col-md-12"  id="extreme{{ values['varid'] }}">
            <p class="h4">Minimum 5 values</p>
            {{ values['firstn_expanded'] }}
            <p class="h4">Maximum 5 values</p>
            {{ values['lastn_expanded'] }}
        </div>
    </div>
</div>
{% include '_row_footer.html' %}