{% include '_row_header.html' %}
<div class="col-md-3 collapse in" id="minivalues{{ values['varid'] }}">
	<svg class="MissingValuesBar{{ values['varid'] }}">
		<script>
			var svg = d3.select("svg.MissingValuesBar{{ values['varid'] }}");
			plotMissingValuesBar(svg, "{{ values['p_missing'] }}", 143, 40)
		</script>
	</svg>
	{{ values['firstn'] }}
</div>
<div class="col-md-6 collapse in" id="minivalues{{ values['varid'] }}">{{ values['lastn'] }}</div>
<div class="panel-heading col-md-12 text-right" style="padding:0;">
    <p style="text-align: right; font-size: 12px;">
        Show details
		<button id="toggleDetails{{ values['varid'] }}" data-toggle="collapse" data-target="#values{{ values['varid'] }},#minivalues{{ values['varid'] }}" class="collapseButton btn btn-xs btn-secondary btn-hover-dark collapsed"></button>
		<script>
			d3.select("#toggleDetails{{ values['varid'] }}").on("click", function() {d3.select(this).classed("collapsed", d3.select(this).classed("collapsed") ? false : true);});
		</script>
    </p>
</div>
<div class="col-md-12 collapse" id="values{{ values['varid'] }}">
    <p class="h4">First 10 values</p>
    {{ values['firstn_expanded'] }}
    <p class="h4">Last 10 values</p>
    {{ values['lastn_expanded'] }}
</div>
{% include '_row_footer.html' %}